@using (Html.BeginForm("Create", "Flight", FormMethod.Get))
{
    <p class="form-group">
        Departure City: @Html.DropDownList("SelectedDepCity", (SelectList)ViewBag.AllCities, new { @class = "form-control" })
        <br /> <br />
        Arrival City: @Html.DropDownList("SelectedArCity", (SelectList)ViewBag.AllCities, new { @class = "form-control" })
        @*<br /> <br />
            Time: @Html.TextBoxFor(model => model.DepartureTime, new { @type = "time", @Value = Model.DepartureTime.ToString("HH:mm")})*@
        <br /> <br />
        @*Days: @Html.ListBox("SelectedDays", (MultiSelectList)ViewBag.AllDays, new { @class = "form-control"})
            <br /> <br />*@
        Fare: @Html.TextBox("BaseFare", null, new { @class = "form-control" })
        <br /> <br />
    </p>


}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
