@model FinalProject.Models.Flight

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FlightNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaseFare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseFare)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivalTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalTime)
        </dd>

    </dl>
</div>

<h4>Reservation Flight Details</h4>
<table class="table table-bordered">
    <tr>
        <th>
            Reservation Flight Detail
        </th>
    </tr>
    @foreach (var item in Model.ReservationFlightDetails)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ReservationFlightDetailID)</td>
            <td>@Html.DisplayFor(modelItem => item.SeatAssignment)</td>
            <td>@Html.DisplayFor(modelItem => item.Fare)</td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FlightID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
