@model FinalProject.Models.ReservationFlightDetail

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("TicketDetails", "ReservationFlightDetails", FormMethod.Get)) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>ReservationFlightDetail</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.Label("ReservationNumber", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("ReservationNumber", (int)ViewBag.ReservationNumber, new { @readonly = "readonly" })
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.SeatAssignment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.SeatAssignment, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SeatAssignment, "", new { @class = "text-danger" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.SeatAssignment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.SeatAssignment, (SelectList)ViewBag.AvailableSeats, "Select A Seat")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fare, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("Fare", (int)ViewBag.Fare, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Fare, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Flight, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("FlightID", (SelectList)ViewBag.SelectedFlight, new { @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.User, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.ListBoxFor(m => m.User, (SelectList)ViewBag.AllUsers, new { @class = "form-control" })*@
            @Html.DropDownList("id", (SelectList)ViewBag.AllUsers, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="See Details" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
