@model FinalProject.Models.ReservationFlightDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReservationFlightDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SeatAssignment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeatAssignment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fare)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fare)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReservationFlightDetailID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
