@model FinalProject.Models.ReservationViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("ReservationSearchResults", "Reservations", FormMethod.Get))
{
<p class="form-group">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.ReservationNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ReservationNumber, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.ReservationNumber, "", new { @class = "text-danger", })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DepartureDay, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("SelectedDate", "yyyy-MM-DD", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.DepartureCity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
        @Html.DropDownList("SelectedDepartureCity", (SelectList)ViewBag.AllCities, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ArrivalCity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
        @Html.DropDownList("SelectedArrivalCity", (SelectList)ViewBag.AllCities, new { @class = "form-control" })
        </div>
    </div>

    <input type="submit" value="Check Flights" class="btn btn-default" />
</p>
}


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
