@model FinalProject.Models.ReservationViewModel
@{
    ViewBag.Title = "ReservationDetails";
}
@using (Html.BeginForm("Create", "Reservations", FormMethod.Post))
{
    <h2>ReservationDetails</h2>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.ReservationNumber, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.ReservationNumber, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.ReservationNumber, "", new { @class = "text-danger", })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RoundTrip, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.RoundTrip, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.AnotherFlight, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.AnotherFlight, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NumberOfFliers, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.NumberOfFliers, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NumberOfFliers, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.Fliers, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.ListBoxFor(m => m.Fliers, (MultiSelectList)ViewBag.AllUsers, new { @class = "form-control" })
        </div>
    </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.SelectedFlight, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DisplayFor(model => model.SelectedFlight, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SelectedFlight, "", new { @class = "text-danger" })
        </div>
    </div>

    <input type="submit" value="Book Flight" class="btn btn-default" />
}

