@model FinalProject.Models.City

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>City</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CityNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirportCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirportCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Durations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Durations)
        </dd>
    </dl>
</div>
@*<table class="table table-bordered">
    <tr>
        <th>
            City
        </th>
        <th>
            Distance
        </th>
    </tr>

    @foreach (var item in Model.Durations)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.City2)</td>
            <td>@Html.DisplayFor(modelItem => item.Mileage)</td>
        </tr>
    }
</table>*@
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
